@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}



<div class="right_col" role="main" style="min-height: 1160px;">

    <form class="form-horizontal form-label-left input_mask">
        <div class="form-group col-sm-4 col-xs-12">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Class</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <select class="form-control">
                    <option>Choose class</option>
                    <option>Class V</option>
                    <option>Class VI</option>
                    <option>Class VII</option>
                    <option>Class VIII</option>
                    <option>Class IX</option>
                    <option>Class X</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Division</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="input-group date" id="fromDate">
                    <input type="text" class="form-control" placeholder="From Date" readonly="readonly">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <button type="button" class="btn btn-sm btn-primary">&nbsp;Submit</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_content">

                <div class="table-responsive">

                    <table id="example" class="table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="2%" ></th>
                                <th width="10%">Photo</th>
                                <th width="80%">Name</th>
                                <th>Attendance</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td style="background-color:#d9534f"></td>
                                <td>
                                    <img src="~/images/img.jpg" />
                                </td>

                                <td>
                                    @string.Format("{0},{1}", "1", "Shreedhar Deshwal")
                                </td>

                                <td>
                                    <button type="button" class="btn btn-danger">Absent</button>
                                </td>
                            </tr>

                            <tr>
                                <td style="background-color:#ec971f"></td>
                                <td>
                                    <img src="~/images/img.jpg" />
                                </td>

                                <td>
                                    @string.Format("{0},{1}", "2", "Shreedhar Deshwal")
                                </td>

                                <td>
                                    <button type="button" class="btn btn-warning">Informed</button>
                                </td>
                            </tr>

                            @for (int i =2; i < 50; i++)
                            {
                                    <tr>
                                        <td style="background-color:#169F85"></td>
                                        <td>
                                            <img src="~/images/img.jpg" />
                                        </td>

                                        <td>
                                            @string.Format("{0},{1}", i.ToString(), "Shreedhar Deshwal")
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-success">Present</button>
                                        </td>
                                    </tr>
                            }



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#fromDate').datetimepicker({
            format: 'DD.MM.YYYY',
            ignoreReadonly: true,
            allowInputToggle: true
        });

        $('#example').DataTable({
            "searching": false,
            "scrollY": "480px",
            "scrollCollapse": true,
            "paging": false
        });

    });
</script>
