<div class="right_col" role="main" style="min-height: 939px;">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>School Staff</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_content">


                        <div class="row">
                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-plus"></i>&nbsp;Add Division</button>
                            <div class="ln_solid"></div>

                            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief"><i>Digital Strategist</i></h4>
                                        <div class="left col-xs-7">
                                            <h2>Nicole Pearson</h2>
                                            <p><strong>About: </strong> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-building"></i> Address: </li>
                                                <li><i class="fa fa-phone"></i> Phone #: </li>
                                            </ul>
                                        </div>
                                        <div class="right col-xs-5 text-center">
                                            <img src="~/images/img.jpg" alt="" class="img-circle img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">

                                        <div class="col-xs-12 col-sm-12 emphasis">
                                            <button type="button" class="btn btn-dark btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg">
                                                <i class="fa fa-user" data-target=".bs-example-modal-lg"> </i> View Profile
                                            </button>
                                            <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg">
                                                <i class="fa fa-comments-o" ></i> Edit Profile
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs">
                                                <i class="fa fa-close"></i> Delete Profile
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                  
                            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief"><i>Digital Strategist</i></h4>
                                        <div class="left col-xs-7">
                                            <h2>Nicole Pearson</h2>
                                            <p><strong>About: </strong> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-building"></i> Address: </li>
                                                <li><i class="fa fa-phone"></i> Phone #: </li>
                                            </ul>
                                        </div>
                                        <div class="right col-xs-5 text-center">
                                            <img src="~/images/img.jpg" alt="" class="img-circle img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">

                                        <div class="col-xs-12 col-sm-12 emphasis">
                                            <button type="button" class="btn btn-dark btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg">
                                                <i class="fa fa-user" data-target=".bs-example-modal-lg"> </i> View Profile
                                            </button>
                                            <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg">
                                                <i class="fa fa-comments-o"></i> Edit Profile
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs">
                                                <i class="fa fa-close"></i> Delete Profile
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief"><i>Digital Strategist</i></h4>
                                        <div class="left col-xs-7">
                                            <h2>Nicole Pearson</h2>
                                            <p><strong>About: </strong> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-building"></i> Address: </li>
                                                <li><i class="fa fa-phone"></i> Phone #: </li>
                                            </ul>
                                        </div>
                                        <div class="right col-xs-5 text-center">
                                            <img src="~/images/img.jpg" alt="" class="img-circle img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">

                                        <div class="col-xs-12 col-sm-12 emphasis">
                                            <button type="button" class="btn btn-dark btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg">
                                                <i class="fa fa-user" data-target=".bs-example-modal-lg"> </i> View Profile
                                            </button>
                                            <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg">
                                                <i class="fa fa-comments-o"></i> Edit Profile
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs">
                                                <i class="fa fa-close"></i> Delete Profile
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Add Division</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-1 col-xs-12">Position</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input type="text" class="form-control" placeholder="Position">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-1 col-xs-12">Full Name</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-1 col-xs-12">Address</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            @*<input type="textare" class="form-control" placeholder="Address">*@
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-1 col-xs-12">Phone</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            @*<input type="textare" class="form-control" placeholder="Address">*@
                            <input type="text" class="form-control" placeholder="Phone">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-1 col-xs-12">About</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            @*<input type="textare" class="form-control" placeholder="Address">*@
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-2">
                            <button type="button" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
